%p#notice= notice
%p
	%strong Name:
	= @chatroom.name

%div{"data-behavior" => "messages", "data-chatroom-id" => "= @chatroom.id"}
	- @chatroom.messages.order(created_at: :desc).limit(100).reverse.each do |message|
		= render message

-# Make this form partial later?
= simple_form_for [@chatroom, Message.new], remote: true, authenticity_token: true do |f|
	= f.text_area :body, rows: 1, class: "form-control", autofocus: true

= link_to 'Edit', edit_chatroom_path(@chatroom)
|
= link_to 'Back', chatrooms_path